/* Move down content because we have a fixed navbar that is 50px tall */
body, html {
    padding:0;
    margin:0;
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    width:100%;
}

.footer-site{
    background-color:darkgrey;
}

#btnEmail {
    border-radius: 0;
    margin-top: 5px;
}

#tbEmailHome {
    width:100%;
    border-radius:0;
    padding-left: 15px;
}

.Loading {
    width: 100%;
    height: 100%;
    background: #ffffff;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1;
}

@keyframes flickerAnimation{
 0% { opacity:0;}
 25% { opacity:1;}
 50% { opacity:0;}
 75% { opacity:1;}
 100% { opacity:0;}
}

.Logo {
    width: 300px;
    height: 100px;
    margin: 150px auto 50px auto;
    font-size: 50px;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: black;
    animation: flickerAnimation 2s infinite;
}


.imagePic {
    width: 320px;
    height: 250px;
    margin-top: -50px;
}

@media screen and (max-width: 600px){

    .Logo {
        width:100%;
        text-wrap:normal;
    }

}

.sign {
    font-size: 30px;
    vertical-align: top;
}

.sign0 {
    font-size: 30px;
}

.sign1 {
    font-size: 20px;
}

.top-header {
    width: 100%;
    height: 40px;
    background-color: black;
    text-align: center;
    font-size:larger;
    border-bottom-style:outset solid;
}

.top-header b {
    font-family: 'Berlin Sans FB Demi'; 
    font-size: 30px; 
    font-weight: bolder; 
    font-style: normal; 
    color: #FFFFFF;
}

.loaderFrame {
    width: 70px;
    height:70px;
    margin: auto;
    position: relative;
} 

.loaderRound1, .loaderRound2 {
    position: absolute;
    border: 5px solid transparent;
    border-radius: 50%;
}

.loaderRound1{
    width: 70px;
    height: 70px;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    animation: clockwisespin 2s linear infinite;
}

.loaderRound2{
    width: 60px;
    height: 60px;
    border-left: 5px solid red;
    border-right: 5px solid red;
    top: 5px; left: 5px;
    animation: anticlockwisespin 2s linear infinite;
}

@keyframes clockwisespin {
    from {transform: rotate(0deg); }
    to {transform: rotate(360deg); }
}

@keyframes anticlockwisespin {
    from {transform: rotate(0deg); }
    to {transform: rotate(-360deg); }
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 400px;
    border-radius: 0px;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

#mynavbar {
    font-size: 17px;
    background-color: #333;
    border-radius:0;
    width: 100%;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    z-index:99;
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    border: none;
    
}


.mySlides {
    display:none;
    height:300px;
}
.stickyNav {
     
}

.dropdown:hover .dropdown-menu {
    display:block;
}

.navbar a {
  color: #f2f2f2;
  padding: 14px 16px;
  display:block;
}

.navbar a:hover {
  background-color: #ddd;

}

#mynavbar a.active {
  
  border-bottom:3px #FFF solid;
}

.navbar #dropbutton{
    float:left;
    
}

.navbar ul li ul {
   display: none;
    position: absolute;
}


.navbar ul {
    display:block;
     float:none;
    }


.nav-header{
    float:none;
}
@media screen and (max-width: 500px) {
    .sign0{
        font-size:medium;
       margin-left:1px; 
    }
}

@media screen and (max-width: 767px) {
    .mySlides{
        height: 300px;
    }
        
.cart-feature {
        float: right;
        visibility:visible;
        
    }
#cdd{
    margin-right:13px;
}
  
    .navbar #dropbutton{
        display: block;
    }

    .navbar-brand {
        transform: translateX(-57%);
        left: 50%;
        position: absolute;
        text-align:center;
    }

    #tbEmailHome {
        width:100%;
        border-radius:0;
    }
    .form-group {
     width: 100%;
    }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="tel"],
    input[type="select"] {
        max-width: 100%;
    }
 
}


@media screen and (min-width: 767px) and (max-width: 1000px) {
    
    .search.active,
 .search:hover  {
        width: 120px;
        height: 35px;
        margin-right: 0px;
        
    }
		.search:after {
			height: 0px;	
		}
   
    #nav-links  {
         font-size:x-small;
         flex-wrap:wrap;
     }
.sign0{
    font-size:small;
   margin-left:1px; 
}
    
 
.navbar-brand{
    width:125px;
}   
}



@media screen and (min-width: 1000px) and (max-width: 1200px) {

   .search.active,
 .search:hover  {
        width: 160px;
        height: 35px;
        margin-right: 0px;
        
    }
		.search:after {
			height: 0px;	
		}
    #nav-links  {
         font-size: medium;
     }
.sign0{
    font-size:x-large;
    
}
    
 
.navbar-brand{
    width:200px;
}   
}

@media screen and (min-width: 1201px) {

    .navbar ul {
         display: block;   
     }
     
    .search.active,
 .search:hover  {
        width: 280px;
        height: 35px;
        margin-right: 0px;
        
    }
    	.search:after {
			height: 0px;	
		}
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color:  #808080/*#f1f1f1*/;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.search {
    position: absolute;
    height: 45px;
    width: 3px;
    box-sizing: border-box;
    margin: 2px 0px -2px 0px;
    padding: 3px 0px 0px 0px;
    /*border: 3px solid white;
    border-radius: 50px;*/
    transition: all 200ms ease;
    cursor: text;
}	
.search:after {
		content: "";
		position: absolute;
        margin-top:5px;
		width: 0px;
		height: 20px;
		right: -5px;
		top: 21px;
		background: transparent;
		border-radius: 3px;
		transform: rotate(-45deg);
		transition: all 200ms ease;
	}
/**/

	
	
.search-box {
	width: 100%;
    height:45px;
	border: none;
    margin-top: 5px;
	box-sizing: border-box;
	font-family: Helvetica;
	font-size: 15px;
	color: white;
	background: transparent;
	outline-width: 0px;
}
.search-box:hover {
        
    border-bottom: 3px solid white;
}
#inputbtn {
    border:none;
    background: transparent;
}

.close {
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.close:before {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  margin-top: -1px;
  margin-left: -13px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.close:after {
  content: "";
  position: absolute;
  width: 27px;
  height: 4px;
  background-color: #fff;
  margin-top: -1px;
  margin-left: -13px;
  cursor: pointer;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.square {
  box-sizing: border-box;
  padding: 0 40px 0 10px;
  width: 300px;
  height: 30px;
  border: 4px solid #ffffff;
  border-radius: 0;
  background: none;
  color: #fff;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  outline: 0;
  -webkit-transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out,
    padding 0.2s;
  -webkit-transition-delay: 0.4s, 0s, 0.4s;
  transition-delay: 0.4s, 0s, 0.4s;
  -webkit-transform: translate(-100%, -50%);
  -ms-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}

.row2 {
    width: 100%;
}

/* Left column (menu) */
.left {
    margin-top:-15px;
  width: 25%;
 height: 100%;  /* Full-height: remove this if you want "auto" height */
 /*width: 160px;  Set the width of the sidebar */
 
  float:left;
}

/* Left column (menu) */
.left1 {
    
    font-family: "Lato", sans-serif;
  width: 25%;
  padding: 15px 0;
 /*height: 100%;   Full-height: remove this if you want "auto" height */
 /*width: 160px;  Set the width of the sidebar */
 
  float:left;
}

.left h2 {
  padding-left: 8px;
}

/* Right column (page content) */
.right {
    float:left;
  width: 75%;
}

/* Style the search box */
#mySearch {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu inside the left column */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}

.active1{
   color: white;
    background-color: #ddd;
    text-decoration: underline solid;
}

.blur {
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-ms-filter: blur(3px);
	filter: blur(3px);
}

.mySlides {display:none;}
.img {
  width: 100%;
  height: 100%;
}

.slider{height:400px;}
               .slider li{height: 400px;}
               #widget-block{margin-top:400px;}

             /*  .footer {
                    position: fixed;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    text-align: center;
                    background-color: black;
                    color: white;
                    
               }

               {box-sizing: border-box;}
               body {font-family: Verdana, sans-serif;}*/
               .mySlides {display: none;}
               .img {vertical-align: middle;}
             /*  .body-def {background: #f1f1f1;}
               {
  box-sizing: border-box;
}*/
/*
body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

/* Header/Blog Title
.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

 Style the top navigation bar 
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover 
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
 */
/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {   
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  border-spacing: 1px;
  border-radius: 2px;
  border: 2px solid black;
  box-shadow: 1px 1px 1px 1px #999;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

.main-text
{
    position: absolute;
    top: 50px;
    width: 96.66666666666666%;
    color: #FFF;
}
.btn-min-block
{
    min-width: 170px;
    line-height: 26px;
}
.btn-clear
{
    color: #FFF;
    background-color: transparent;
    border-color: #FFF;
    margin-right: 15px;
}
.btn-clear:hover
{
    color: #000;
    background-color: #FFF;
}


.no-nav .owl-nav {
  display: none;
}

.owl-carousel .owl-item {
  opacity: .4;
}

.owl-carousel .owl-item.active {
  opacity: 1;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next {
  position: absolute;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -10px;
}

.owl-carousel .owl-nav .owl-prev:hover, .owl-carousel .owl-nav .owl-prev:focus, .owl-carousel .owl-nav .owl-prev:active,
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel .owl-nav .owl-next:focus,
.owl-carousel .owl-nav .owl-next:active {
  outline: none;
}

.owl-carousel .owl-nav .owl-prev span:before,
.owl-carousel .owl-nav .owl-next span:before {
  font-size: 40px;
}

.owl-carousel .owl-nav .owl-prev {
  left: 30px !important;
}

.owl-carousel .owl-nav .owl-next {
  right: 30px !important;
}

.owl-carousel .owl-dots {
  text-align: center;
}

.owl-carousel .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  background: #e6e6e6;
}

.owl-carousel .owl-dots .owl-dot.active {
  background: #007bff;
}

.owl-carousel.home-slider {
  z-index: 1;
  position: relative;
}

.owl-carousel.home-slider .owl-nav {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-nav button {
  color: #fff;
}

.owl-carousel.home-slider:focus .owl-nav, .owl-carousel.home-slider:hover .owl-nav {
  opacity: 1;
  visibility: visible;
}

.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: calc(100vh - 117px);
  min-height: 700px;
  position: relative;
}

.owl-carousel.home-slider .slider-item:before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  content: "";
}

.owl-carousel.home-slider .slider-item .slider-text {
  color: #fff;
  height: calc(100vh - 117px);
  min-height: 700px;
}

.owl-carousel.home-slider .slider-item .slider-text .child-name {
  font-size: 40px;
  color: #fff;
}

.owl-carousel.home-slider .slider-item .slider-text h1 {
  font-size: 40px;
  color: #fff;
  line-height: 1.2;
  font-weight: 800 !important;
  text-transform: uppercase;
}

@media (max-width: 991.98px) {
  .owl-carousel.home-slider .slider-item .slider-text h1 {
    font-size: 40px;
  }
}

.owl-carousel.home-slider .slider-item .slider-text p {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 300;
  color: white;
}

.owl-carousel.home-slider .slider-item.dark .child-name {
  color: #000;
}

.owl-carousel.home-slider .slider-item.dark h1 {
  color: #000;
}

.owl-carousel.home-slider .slider-item.dark p {
  color: #000;
}

.owl-carousel.home-slider.inner-page .slider-item {
  height: calc(50vh - 117px);
  min-height: 350px;
}

.owl-carousel.home-slider.inner-page .slider-item .slider-text {
  color: #fff;
  height: calc(50vh - 117px);
  min-height: 350px;
}

.owl-carousel.home-slider .owl-dots {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

.owl-carousel.home-slider .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  outline: none !important;
  position: relative;
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active {
  border: 2px solid white;
}

.owl-carousel.home-slider .owl-dots .owl-dot.active span {
  background: white;
}

.owl-carousel.major-caousel .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.owl-carousel.major-caousel .owl-nav .owl-prev, .owl-carousel.major-caousel .owl-nav .owl-next {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #495057;
}

.owl-carousel.major-caousel .owl-nav .owl-prev:hover, .owl-carousel.major-caousel .owl-nav .owl-prev:focus, .owl-carousel.major-caousel .owl-nav .owl-next:hover, .owl-carousel.major-caousel .owl-nav .owl-next:focus {
  color: #6c757d;
  outline: none;
}

.owl-carousel.major-caousel .owl-nav .owl-prev.disabled, .owl-carousel.major-caousel .owl-nav .owl-next.disabled {
  color: #dee2e6;
}

.owl-carousel.major-caousel .owl-nav .owl-prev {
  left: -60px !important;
}

.owl-carousel.major-caousel .owl-nav .owl-next {
  right: -60px !important;
}

.owl-carousel.major-caousel .owl-dots {
  bottom: -30px !important;
  position: relative;
}

.owl-custom-nav {
  float: right;
  position: relative;
  z-index: 10;
}

.owl-custom-nav .owl-custom-prev,
.owl-custom-nav .owl-custom-next {
  padding: 10px;
  font-size: 30px;
  background: #ccc;
  line-height: 0;
  width: 60px;
  text-align: center;
  display: inline-block;
}




.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-whatsapp {
  background: #4FCE5D;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

.centerDiv {
    width:100%;
    height:50px;
    color: black;
    margin-top: -15px;
}